<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Create a New Blog</title>
	    <div th:replace="/fragments/styling :: head-style" ></div>
	</head>
	<body>
		<div th:replace="fragments/navbar :: navbar" ></div>
		<div class="container">
			<h1>Create a New Blog Post</h1>
	 		<form action="#" th:action="@{/posts}" th:object="${blogPost}" method="post">
	 		
		 		<div class="form-group">
		 			<input type="text" class="form-control" placeholder="Blog Title..." th:field="*{title}" />
		 		</div>
		 		
		 		<div class="form-group">
		 			<input type="text" class="form-control" placeholder="Your Name Here..." th:field="*{author}" />
		 		</div>
		 		
		 		<div class="form-group">
		 			<textarea rows="7" cols="100" class ="form-control" placeholder="Blog Entry" th:field="*{blogEntry}" ></textarea>
		 		</div>
		
		 		<button class="btn btn-primary">Submit Your Post</button>
			</form>
		</div>
		<div th:replace="/fragments/styling :: body-links" ></div>
	</body>
</html>